<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstIOSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA78AF271D996051006D9BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA78AF3B1D996051006D9BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA78AF461D996051006D9BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
